<!DOCTYPE html>
<html xmlns="//www.w3.org/1999/xhtml">
<head>
<title>Информация об актуальных акциях и распродажах на товары и услуги!!!</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="title" content="Информация об актуальных акциях и распродажах на товары и услуги!!!">
<meta name="description" content="Info of sale - новости о распродажах.">
<meta name="keywords" content="скидки, скидка, акции, сайты скидок, скидки в магазинах, скидки онлайн">
<meta property="og:image" content=""/>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="//st.biglion.ru/v3/img/favicon_x/mstile-144x144.png?1465223751">
    <meta name="msapplication-config" content="//st.biglion.ru/v3/img/favicon_x/browserconfig.xml?1465223751">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
/*<h1>Стартовая страница</h1>
<h3>Тут что то будет</h3>
<a href="/helloworld">Hello World!</a><br />
<a href="/helloworld/welcome">Welcome</a>*/
<div> Первый блок </div>
<div> Второй блок </div>
</body>
