@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Weclome";
}
<h2>Welome</h2>
<p>Hello from Vew template Welcome!</p>
